
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
  html{
   @apply bg-black text-white;
  }
}
.horizontal::-webkit-scrollbar{
  height: 5px;
}
.horizontal::-webkit-scrollbar-thumb{
  background-color: rgb(175, 183, 190);
}
.horizontal::-webkit-scrollbar-track{
  background-color: black
}





.bottom-border{
  border-bottom: 1px solid rgb(168, 162, 162);
}
.out-r{
  border-right:  1px solid rgb(168, 162, 162);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(176, 173, 173)
}

::-webkit-scrollbar-track{
  background-color: black;
}